<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wlq314#qq.com">
    <link rel="icon" href="../../favicon.ico">

    <title>蘑菇后台</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/docs.min.js"></script>
    <link href="/public/css/admin/dashboard.css" rel="stylesheet">
    <script src="/public/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">蘑菇</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/user/modify">修改密码</a></li>
                <li><a href="/admin/user/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/admin/news/index">资讯</a></li>
                <li><a href="/admin/load/index">引导图</a></li>
                <li><a href="/admin/banner/index">Banner</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/disease/index">病情百科</a></li>
                <li><a href="/admin/medicine/index">药物百科</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/community/index">普通社区</a></li>
                <li><a href="/admin/classify/index">帖子分类</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/psychology/index">心灵社区</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/admin/android/index">Android</a></li>
                <li><a href="/admin/ios/index">IOS</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">资讯列表</h1>
            <form class="form-inline" method="post">
                <a href="/admin/news/add" class="btn btn-primary btn-sm active" role="button">添加新闻</a>
                <input type="text" class="form-control" placeholder="按标题搜索" name="keyword">
                <input type="submit" class="btn btn-success" value="搜索" name="search">
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>排序</th>
                        <th>封面</th>
                        <th>最后修改时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="table-striped table-bordered">
                    <?php
                        foreach($newsList as $value){
                    ?>
                    <tr class="<?php if($value['delete'] == 1){echo 'success';}else{echo 'warning';} ?>">
                        <td><?php echo $value['id']; ?></td>
                        <td><?php echo $value['title']; ?></td>
                        <td><?php echo $value['order']; ?></td>
                        <td><img src="<?php echo $value['img']; ?>" width="120" height="80"></td>
                        <td><?php echo $value['updatetime']; ?></td>
                        <td>
                            <a href="/admin/news/edit/<?php echo $value['id']; ?>" class="btn btn-info btn-xs active" role="button">编辑</a>
                            <?php if($value['delete'] == 1){ ?>
                            <a href="/admin/news/delete/<?php echo $value['id']; ?>" class="btn btn-danger btn-xs active" role="button">删除</a>
                            <?php }else{ ?>
                            <a href="/admin/news/active/<?php echo $value['id']; ?>" class="btn btn-success btn-xs active" role="button">发布</a>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php
                    }
                    ?>
                    </tbody>
                </table>
                <?php if(isset($pageString)){echo $pageString;} ?>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/dist/js/bootstrap.min.js"></script>
<script src="/public/js/docs.min.js"></script>
</body>
</html>
